
* {
    margin: 0;
    padding: 0;
    font-family: tahoma, arial, sans-serif, 'lucida grande';
}

.header {
    display: flex;
    position: relative;
    align-items: center;
    height: 2.5rem;
    padding: 0 1rem;
    border-bottom: 1px solid #eae8e4;
    background-color: #ffffff;
    color: black;
    font-size: 1rem;
    text-transform: uppercase;
    z-index: 1;
    font-size: 0.6875rem;
}

.header .logo {
    height: 2rem;
    width: 125px;
    border-right: 1px solid #bfa69a;

}

.header .logo a {
    float: left;
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    color: black;
    display: block;
    margin: auto;

}

.header .account {
    margin-left: 15px;
    font-size: 13px;
}


#forgot-pwd {
    height: 900px;
    width: 100%;
    background: #f6f5f3;
    display: flex;
    flex-direction: row;
    justify-content: center;
}



#forgot-pwd .forgot-form {
    height: 900px;
    width: 500px;
    background-color: white;
    display: flex;
    flex-direction: column;
}


#forgot-pwd .forgot-form .inside-forgot-form {
    padding: 3rem 3rem 0;
    padding-left: 3.125vw;
    padding-right: 3.125vw;
    height: 500px;
    border-bottom: 1px solid rgb(212, 211, 211);

}

#forgot-pwd .forgot-form .inside-forgot-form  .form-forgot {
    padding-bottom: 5rem;
}

#forgot-pwd .forgot-form .inside-forgot-form .form-forgot h2 {
    margin: 0 0 1.5rem;
    width: 100%;
    height: 25px;
  
    font-size: 17px;
}

#forgot-pwd .forgot-form .inside-forgot-form  .form-forgot form {
    display: block;
    margin-top: 0em;
}

#forgot-pwd .forgot-form .inside-forgot-form  .form-forgot .form-field {
    display: block;
    font-size: .875rem;
    letter-spacing: .025rem;
    line-height: 1.25rem;
    font-weight: 400;
    color: inherit;
    margin-top: 25px;
}

#forgot-pwd .forgot-form .inside-forgot-form  .form-forgot .email {
    background: #fff;
    background-clip: padding-box;
    border: 1px solid #eae8e4;
    box-shadow: none;
    padding: 0 1rem;
    box-sizing: border-box;
    height: 3rem;
    transition: border .3s cubic-bezier(.39,.575,.565,1);
    font-size: 1rem;
    letter-spacing: .025rem;
    line-height: 2rem;
    color: #19110b;
    line-height: 3rem;
    font-weight: 500;
    width: 100%;
    margin-top: 10px;
    height: 50px;
}

#forgot-pwd .forgot-form .inside-forgot-form  .form-forgot .send-field {
    height: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#forgot-pwd .forgot-form .inside-forgot-form  .form-forgot .cancel {
    box-sizing: border-box;
    display: block;
    width: 120%;
    background-color: white;
    box-shadow: inset 0 0 0 1px #19110b;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    height: 50px;
    padding: 15px 55px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    
}

#forgot-pwd .forgot-form .inside-forgot-form  .form-forgot .cancel p{
    text-decoration: none;
    line-height: 1rem;
    font-size: 1rem;
    font-weight: 400
}



#forgot-pwd .forgot-form .inside-forgot-form  .form-forgot .send {
    box-sizing: border-box;
    display: block;
    width: 50%;
    background-color: #19110b;
    color: #fff;
    line-height: 1;
    text-align: center;
    height: 50px;
    padding: 15px 55px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
    margin-top: 20px;
    margin-left: 60px;
}

#forgot-pwd .forgot-form .inside-forgot-form  .form-forgot .cancel:hover {
    background-color: rgb(201, 186, 186);
    color: black;
}

#forgot-pwd .forgot-form .inside-forgot-form  .form-forgot .send:hover {
    background-color: rgb(201, 186, 186);
    color: black;
}

#forgot-pwd .forgot-form .inside-forgot-form  .form-forgot p {
    margin-bottom: 30px;
    font-size: 1.125rem;
    letter-spacing: .025rem;
    line-height: 2rem;
    font-weight: 300;
    color: inherit;
    color: #19110b;
    text-decoration-line: none;
}


#forgot-pwd .forgot-form .inside-forgot-form  .form-forgot .submit-btn1 {
    box-sizing: border-box;
    display: block;
    width: 100%;
    background-color: #19110b;
    color: #fff;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    border: none;
}

#forgot-pwd .forgot-form .inside-forgot-form  .form-forgot .submit-btn1:hover {
    background-color: rgb(201, 186, 186);
    color: black;
    text-decoration: none;
}

#forgot-pwd .forgot-form .inside-forgot-form  .form-forgot .submit-btn1 p {
    text-decoration: none;

}



#forgot-pwd .infor {
    width: 500px;
    height: 900px;
    border: 1px solid #eae8e4;
    border-top: none;
    border-bottom: none;
    background-color: white;
   

}

#forgot-pwd .infor .call {
    width: 400px;
    height: 40px;
    border-bottom: 1px solid #eae8e4;
    margin: auto;
    margin-top: 40px;
}

#forgot-pwd .infor .call p{
    color: #000;
    font-size: .75rem;
    line-height: .75rem;
    font-weight: 600;
    display: block;
    text-align: left;
}


#forgot-pwd .infor .contact {
    width: 400px;
    height: 40px;
    border-bottom: 1px solid #eae8e4;
    margin: auto;
    margin-top: 23px;
}

#forgot-pwd .infor .contact a{
    text-decoration: none;
    color: black;
}

#forgot-pwd .infor .email {
    width: 400px;
    height: 40px;
    border-bottom: 1px solid #eae8e4;
    margin: auto;
    margin-top: 23px;
}

#forgot-pwd .infor .email a{
    text-decoration: none;
    color: black;
}

#forgot-pwd .infor .find {
    width: 350px;
    background: #f6f5f3;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.4285714285714286;
    letter-spacing: .4px;
    padding: 1.5rem;
    margin: auto;
    margin-top: 70px;
    height: 370px;
}

#forgot-pwd .infor .find .da {
    width: 350px;
    height: 40px;
    margin: auto;
    margin-top: 40px;
}

#forgot-pwd .infor .find .da p {
    color: #000;
    font-size: .85rem;
    line-height: .75rem;
    font-weight: 600;
    display: block;
    text-align: left;
}

#forgot-pwd .infor .find .ao {
    width: 350px;
    height: 23px;
    border-bottom: 1px solid #eae8e4;
    margin: auto;
    margin-top: 40px;
}

#footer {
    width: 100%;
    height: 200px;
    background: #19110b;
}

#footer .footer1 {
    display: block;
    margin: auto;
    height: 100px;
    width: 1200px;
    border-bottom: 1px solid rgb(212, 211, 211);
}

#footer .footer1 h3 {
    color: white;  
    padding: 40px 0px; 
}

#footer .footer2 {
    display: block;
    margin: auto;
    height: 100px;
    width: 1200px;
}

#footer .footer2 ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

#footer .footer2 ul li {
    display: inline-block;
    height: 50px;
    margin-left: 70px;

    margin-top: 40px;
}

#footer .footer2 ul li:first-child {
    margin-left: 0px;
}

#footer .footer2 ul li a{
    text-decoration: none;
    color: white;
}



